<ion-view view-title="Timeline">

  <ion-content>

<div class="tabs tabs-dark">
  <a ng-click="getLocation('New York')" class="tab-item">
    New York
  </a>
  <a  ng-click="getLocation('Miami')" class="tab-item">
    Miami
  </a>
  <a ng-click="getLocation('Los Angeles')" class="tab-item">
    Los Angeles
  </a>
    <a ng-click="get()" class="tab-item">
   All
  </a>
</div>

    <ion-refresher
    on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list>
      <ion-item class="card-image-list"  ng-repeat="e in numberOfEvents track by $index" can-swipe='true'>
        <div id="site" class="card-image">
          <a href="#/app/event/{{ myData[e]._id }}">
            <img id="eventImage" ng-src="{{ myData[e].imageUrl }}">
          </a>
          <div class="event-meta-grp">
            <div class="event-date">
              <span  class="event-month">{{ myData[e].month }}</span>
              <span  class="event-day">{{ myData[e].day }}</span>
            </div>

            <div class="event-cat">
              <a href="#"> {{ myData[e].genre }}</a>
            </div>

          </div>
          <div class="card-title">
            <a href="#">
              <h2 class="event-title">{{ myData[e].eventName }}</h2>
              <h6 class="event-location">{{ myData[e].address }}</h6>
               <h6 class="event-location">{{ myData[e].city }} , {{ myData[e].state }} {{ myData[e].zipcode }}</h6>
            </a>
          </div>
        </div>
        <div class="card-action  valign-wrapper">
          <h3>{{ likes[e]-1 }} People are going</h3>
          <!-- <div class="like-ind-grp valign">
            <button class="button button-clear" ng-click="like(e)">
              <span class="">
                <i ng-click="like()" id="likeIcon{{$index}}" class="mdi-action-favorite"></i>
              </span>
              <span class="like-ind-num">{{ likes[e]-1 }}</span>
            </button>

          </div> -->
          <div>

          </div>
    <ion-option-button ng-click="like(e)" id="likeIcon{{$index}}" class="button  icon ion-happy">RSVP</ion-option-button>

              <div class="like-avatar" ng-repeat="i in likesArray[e] track by $index" >
                <img class="profileIcon" ng-src="{{ myData[e].likes[i].profileUrl }}">
              </div>



    </ion-item>
</ion-list>
  </ion-content>
</ion-view>
