.card-list-style-1 {
  @extend .card;
  box-shadow: none;
  margin: 0 0 0 0;  
  background-color: #222;
  @include border-radius(0);
  
  .card-action {
    border-top: none;
    background-color: #222;
    @include font-size(20px);
    color: $white;
  }  
  
  .card-image {
    img {
      opacity: .5;
    }
  }
  .like-ind-grp {
    width: 90px;
    margin-right: $card-padding;
        a {
            color: inherit;
        }
  }

  .like-avatar-grp,
  .like-ind-grp {
      float: left;
      display: inline-block;
  }

  .like-avatar {
      width: 10%;
      display: inline-block;
      float: left;
      margin: 0 $card-padding/2;
        &:last-child {
            margin-right: 0;
        }
  }
}

.like-avatar-grp {
    overflow: hidden;
}

.like-ind-icon {
    color: $brand-red;
}

.event-location {
    @include font-size(20px);
    font-weight: 300;
}


.card-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; 
  padding: $card-padding;
  background-image: linear-gradient(-180deg, rgba(34,34,34,0.06) 0%, rgba(34,34,34,0.90) 100%);
    a {
        color: inherit;
        display: inline-block;
        text-transform: capitalize;
    }
}

.event-location {
    color: rgba($white, .7);
}

.event-meta-grp {
  position: absolute;
  top: 0;
  left: 0;
}

.event-date {
    padding: $card-padding;
    border-right: 1px solid rgba($white, .15);
    display: inline-block;
    float: left;
    * {
        text-transform: capitalize;
        display: block;
        color: $brand-red;
        font-weight: 300;
        line-height: 1.2;
    }

    .event-month {
        @include font-size(25px);
    }

    .event-day {
        @include font-size(35px);
    }
}

.event-cat {
    padding: $card-padding; 
    display: inline-block;
    float: left;
    color: $white;
    text-transform: capitalize;
    @include font-size(18px);
    a {
        display: block;
        color: inherit;
    }
}

.activity-list-item {
    @extend .card-panel;
    margin: 0;
    @include border-radius(0);
    box-shadow:none;
    
    &:nth-child(odd) {
        background-color: #333;
    }
    &:nth-child(even) {
        background-color: #2d2d2d;
    }

    a {
        color: inherit;
        font-weight: bold;
    }
        .row {
            margin-bottom: 0;
        }
        .activity-details {
            color: $white;
            @include font-size(18px);
        }

        .activity-time {
            color: #666;
        }

        .context-avatar {
            text-align: right;
        }

        .col {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }            
        }
}

.navbar {
    background-color: $brand-red;
}

.nav-wrapper {
    padding: 0 $card-padding 0;
}

.navbar-title {
    @extend .brand-logo;
    font-weight:400;
    @include font-size(18px);
}